
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0);
  cursor: wait;
}

.loadingContent {
  position: fixed;
  margin-top: -16px;
  margin-left: -16px;
  top: 50%;
  left: 50%;
  background: rgba(0,0,0, 0);
  outline: none;
}

.loadingImg {
  background: url('./loading.gif') no-repeat 0px 0px;
  width: 32px;
  height: 32px;
}

.statusContent {
  position: fixed;
  margin-top: -20px;
  top: 100%;
  background: #fff;
  outline: none;
}
