body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}


.scommons-modal {
  position: fixed;
  top: 10%;
  left: 50%;
  /* new custom width */
  width: 560px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

/* z-order should be the same in modal and overlay !!! */
.scommons-modal-top {
	z-index: 1050;
}

.scommons-modal-no-overlay {
}

/* z-order should be the same as in .scommons-modal */
.scommons-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.3)
  /* background-color: #000; */
  /* opacity: 0.3; */
  /* filter: alpha(opacity=30); */
}


/* customizing react-select component style
 *
 * see https://react-select.com/styles#using-classnames
 */
.react-select__input > input {
  box-shadow: none;
  margin-bottom: 0;
}

.react-select__input > input:focus {
  box-shadow: none;
  margin-bottom: 0;
}
