
.checkBoxTree {
  width: 100%;
  overflow: auto;
}

.checkBoxTreeItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: hand;
  cursor: pointer;
  zoom: 1;
}

.checkBoxTreeNodeValue {
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

.checkBoxTreeItemValue {
  padding-left: 18px;
  padding-right: 3px;
  outline: none;
}

.checkBoxTreeNode {
  padding-left: 16px;
  position: relative;
}

.checkBoxTreeNodeIcon {
  left: 0px;
  height: 15px;
  width: 15px;
  position: absolute;
}

.checkBoxTreeClosedArrow {
  background: url('./img/treeClosed.gif') no-repeat 0px 0px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.checkBoxTreeOpenArrow {
  background: url('./img/treeOpen.gif') no-repeat 0px 0px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
