
.tree {
  width: 100%;
  overflow: auto;
}

.treeItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: hand;
  cursor: pointer;
  zoom: 1;
}

.treeNodeValue {
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

.treeItemValue {
  padding-left: 18px;
  padding-right: 3px;
  outline: none;
}

.treeNode {
  padding-left: 16px;
  position: relative;
}

.treeNodeIcon {
  left: 0px;
  height: 15px;
  width: 15px;
  position: absolute;
}

.treeClosedArrow {
  background: url('./img/treeClosed.gif') no-repeat 0px 0px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.treeOpenArrow {
  background: url('./img/treeOpen.gif') no-repeat 0px 0px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
